<% content_for :title, "Movies" %>

<h1>Movies</h1>

<%= form_with url: movies_path, method: :get,
    data: { turbo_frame: "movies_results", controller: "movie-search" } do |f| %>
  <%= f.text_field :q,
      value: params[:q],
      placeholder: "Search movies...",
      class: "w-full md:w-96 px-4 py-2 rounded-lg border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-700 text-gray-900 dark:text-gray-100 focus:ring-2 focus:ring-blue-500 focus:outline-none",
      data: { movie_search_target: "input", action: "input->movie-search#search" } %>
<% end %>

<%= render "movies_list" %>

<%= link_to "New movie", new_movie_path %>

<hr>

<h2>Sync from TMDB</h2>
<%= form_with url: sync_from_tmdb_movies_path, method: :post, local: true do |f| %>
  <div>
    <%= f.label :tmdb_id, "TMDB ID" %>
    <%= f.number_field :tmdb_id, required: true, min: 1, placeholder: "Enter TMDB movie ID" %>
  </div>
  <div>
    <%= f.submit "Sync from TMDB" %>
  </div>
<% end %>
