<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div id="movies">
  <% @movies.each do |movie| %>
    <%= render movie %>
    <p>
      <%= link_to "Show this movie", movie %>
    </p>
  <% end %>
</div>

<%= link_to "New movie", new_movie_path %>

<hr>

<h2>Sync from TMDB</h2>
<%= form_with url: sync_from_tmdb_movies_path, method: :post, local: true do |f| %>
  <div>
    <%= f.label :tmdb_id, "TMDB ID" %>
    <%= f.number_field :tmdb_id, required: true, min: 1, placeholder: "Enter TMDB movie ID" %>
  </div>
  <div>
    <%= f.submit "Sync from TMDB" %>
  </div>
<% end %>
