<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Movie DB</title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'style', 'application' %>
</head>
<body>

<div id="logo">
  <h1>Movie DB</h1>
</div>
<div id="menu">
  <ul>
    <li class="first"><%= link_to "Home", '/' %></li>
    <li><%= link_to "List", :controller => "movies" %></li>
  </ul>
  <div id="search">
    <% form_tag({:controller => :movies, :action => :search}, :method => "get" ) do %>
      <fieldset>
      <input id="s" type="text" name="s" value="" />
      <input id="x" type="image" name="imageField" src="images/img10.jpg" />
      </fieldset>
    <% end %>
  </div>
</div>
<hr />
<div id="page">
  <div id="content">
    <p style="color: green"><%= flash[:notice] %></p>

    <%= yield %>

  </div>
  <div id="sidebar">
    <ul>
      <li>
      </li>
      <li>
      </li>
      <li>
      </li>
    </ul>
  </div>
</div>
<div id="footer">
  <p class="legal">Copyright (c) 2007 DOTFP. All rights reserved.</p>
</div>

</body>
</html>
